
/* Font dari Google */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffff;
  letter-spacing: 1px;
  color: rgb(14, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

/* Bagian pemilihan judul film */
.movie-container select {
  background-color: rgb(60, 60, 61);
  color: rgb(250, 250, 248);
  letter-spacing: 1px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  margin-left: 4px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  font-weight: bold; /* ketebalan tulisan screen */
  perspective: 1000px;
  margin-bottom: 30px;
}

/* Tempat duduk (yang kosong) */
.seat {
  background-color: #c5c5c9;
  height: 35px;
  width: 35px;
  margin: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Tempat duduk yang telah kita booking */
.seat.selected {
  background-color: #17eb45;
}

/* Tempat duduk yang telah di tempati */
.seat.occupied {
  background-color: rgb(236, 5, 5);
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

/* Keterangan tempat duduk */
.showcase {
  background: rgb(245, 245, 248);
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(3, 3, 3);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

/* Baris */
.row {
  display: flex;
}

/* Layar bioskop */
.screen {
  background-color: #d6d6db;
  height: 60px;
  width: 100%;
  margin: 15px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Tulisan Screen */
  color: #454546;
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Teks */
p.text {
  letter-spacing: 1px;
  color:rgb(3, 3, 3);
  margin: 5px 0;
}

/* Teks berwarna */
p.text span {
  color: rgb(209, 5, 5);
  font-weight: bold;
}
